<a href="{$control->getItem()->getLink()}" class="dropdown-toggle" data-toggle="dropdown" role="button">
	{var $title = $template->translate($control->getItem()->getTitle())}
	{? $title = \Nette\Utils\Html::el()->setHtml($title)}
	{$title}
</a>
<ul class="dropdown-menu" role="menu" n:if="count($control->components) > 0">
	<li n:foreach="$control->components as $itemControl">
		{control $itemControl}
	</li>
</ul>