<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" {if $control->getParent() !== NULL}data-target="#{$control->getParent()->getName()}" aria-controls="{$control->getParent()->getName()}"{/if} aria-expanded="false">
		<span class="sr-only">Toggle navigation</span> {* TODO translate *}
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	{*<a class="navbar-brand" href="#.html">RS</a>*}
	{$headerContent->getHtml()}
</div>