<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		{if $control->getComponent('headerControl', FALSE)}{control headerControl}{/if}
		<div class="collapse navbar-collapse" n:if="count($control->getControls()) > 0" id="{$control->getName()}">
			{foreach $control->getControls() as $ctrl}
				{control $ctrl}
			{/foreach}
		</div>
	</div>
</nav>