<nav class="navbar navbar-default navbar-static-top black">
	<div class="container">
		{if $control->getComponent('headerControl', FALSE)}{control headerControl}{/if}
		<div class="navbar-collapse collapse" n:if="count($control->getControls()) > 0">
			{foreach $control->getControls() as $ctrl}
				{control $ctrl}
			{/foreach}
		</div>
	</div>
</nav>