<nav class="navbar navbar-default navbar-static-top black">
	<div class="container">
		{if $control->getComponent('headerControl', FALSE)}{control headerControl}{/if}
		<div class="navbar-collapse collapse" n:if="count($control->getItems()) > 0">
			<ul class="nav navbar-nav">
				<li n:class="count($control->getItems()) > 0 ? dropdown" n:foreach="$control->getItems() as $itemControl">
					{control itemControl}
				</li>
			</ul>
		</div>
	</div>
</nav>